.navbar .nav-item .nav-link {
  color: $color-primary;
  // margin-right: 74px;
  @include font($size: 1.6rem, $weight: 400);
  &:active {
    @include font($size: 1.6rem, $weight: 600);
  }
  &:hover {
    @include font($size: 1.6rem, $weight: 700);
    color: $color-primary;
  }
  &:visited {
    color: $color-primary;
  }
}
.navbar .nav-item .nav-link__contact {
  background-color: $primary-blue;
  color: $color-white;
  margin-right: 0;
  &:active {
    color: $color-white;
  }
  &:hover {
    color: $color-white;
  }
  &:visited {
    color: $color-white;
  }
}
.navbar .navbar-toggler-icon {
  color: #333333;
}
