.promo-info {
  padding: 40px 48px 44px 48px;
  background-color: $primary-blue;
  color: $color-white;
  row-gap: 57px;
  top: 120px;
  right: 165px;
}
.numbers {
  font-size: 52px;
  line-height: 143%;
  //   margin-bottom: 17px;
}
.description {
  font-size: 16px;
}
